.container {
  display: grid;
  width: 1000px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 300px);
  grid-gap: 1rem;
}

.item {
  background-color: #d94f5c; /* Base color */
  /* Clean vertical gradient transitioning smoothly to #1c1d22 */
  background-image: linear-gradient(to bottom, #d94f5c 0%, #b85053 40%, #933c4a 70%, #1c1d22 100%);
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  color: #fff;
  border-radius: 4px;
  border: 6px solid #1c1d22; /* Updated border color */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item a {
  color: #fff;
  text-decoration: none; /* No underline */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.item:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 24px rgba(0,0,0,0.30);
}

.position {
  height: 70vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Remove any default margin */
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Remove any default margin */
  height: 12vh; /* Full viewport height */
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
  font-weight: bold;
  color: #222;
  text-shadow: 0 0 40px #FFFFFF, 0 0 30px #FFFFFF, 0 0 20px #FFFFFF;
}
