.converter-container {
    width: 100%;
    max-width: 400px;
    padding: 60px;
    background-color: #1c1d22;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid #d94f5c;
}
.form-group {
    width: 100%;
    margin-bottom: 20px;
    color: #777;
}
.form-group label {
    display: block;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #777;
}
.form-group input, .form-group select {
    width: 100%;
    box-sizing: border-box;
    height: 50px;
    padding: 8px;
    font-size: 18px;
    border: 1px solid #ced4da;
    border-radius: 8px;
    background-color: #e9ecef;
}
.form-group input:focus, .form-group select:focus {
    outline: none;
    border-color: #d94f5c;
    box-shadow: 0 0 0 2px rgba(217, 79, 92, 0.5);
}
.base-and-convert {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.convert-btn {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #d94f5c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;