#content {
    width: 55%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds a subtle shadow for a cleaner look */
    display: flex;
    flex-direction: column; /* Makes child elements stack vertically */
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: #777;
}