.sudoku-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

table {
  border-collapse: collapse;
  border: 3px solid #ffffff; /* Light border for contrast */
}

td {
  border: 1px solid #555; /* Subtle borders within the grid */
}

td:nth-child(3),
td:nth-child(6) {
  border-right: 3px solid #ffffff; /* Thicker borders to delineate blocks */
}

tr:nth-child(3) td,
tr:nth-child(6) td {
  border-bottom: 3px solid #ffffff; /* Similar to columns, for blocks */
}

input[type="text"] {
  width: 60px;
  height: 60px;
  font-size: 2rem;
  text-align: center;
  border: none;
  background-color: #2c2f33; /* Dark background for the input fields */
  color: #ffffff; /* Text color for visibility */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

input[type="text"]:focus {
  outline: none;
  background-color: #d94f5c; /* Red background on focus to match the top bar */
  color: #ffffff; /* Ensures text is still visible */
}



button {
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 40px;
  border: none;
  background-color: #d94f5c; /* Button color to match the menu hover effect */
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #ce6132; /* Darker shade on hover to provide feedback */
}
