<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <nav>
        <ul class="menu">
          <li><a href="#!">Home</a></li>
          <li><a href="#!">About</a></li>
          <li><a href="#!">Projects</a></li>
          <li><a href="#!">Contact</a></li>
        </ul>
      </nav>
<div id="content">
    <h1 aria-label="Hi! I'm a developer">
        Hi! I'm a&nbsp;<span class="typewriter"></span>
    </h1>
</div>
</body>
</html>