{% extends 'base.html' %}

{% block title %}
    Converter
{% endblock %}

{% block link_css %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/converter.css')}}">
{% endblock %}

{% block content %}
  <div class="converter-container">
      <form action="/converter" method="post"> <!-- Open the form tag here -->
          <div class="form-group">
              <label for="num_dec">Decimal Number:</label>
              <input type="text" id="num_dec" name="num_dec" value="{{ num_dec }}" placeholder="Enter decimal number">
          </div>

          <div class="form-group">
              <label for="num_base">Number in Base {{base}}</label>
              <input type="text" id="num_base" name="num_base" value="{{ num_base }}" placeholder="Enter number in base">
          </div>

          <div class="form-group base-select">
              <label for="base">Base:</label>
              <select id="base" name="base" value="{{base}}">
                  {% for i in range(2, 17) %}
                  <option value="{{i}}" {% if base == i %} selected {% endif %}>{{i}}</option>
                  {% endfor %}
              </select>
          </div>

          <button type="submit" class="convert-btn">Convert</button>
      </form> <!-- Close the form tag here -->
  </div>
{% endblock %}
