{% extends 'base.html' %}

{% block title %}
    Projects
{% endblock %}

{% block link_css %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/projects.css')}}">
{% endblock %}

{% block content %}
    <div class ="position">
        <div class="container">
          <div class="item item1">
              <center>
                  <a href="{{ url_for('sudoku_solver') }}" style="display: block; height: 100%;">
                      <h1>Sudoku Solver</h1>
                  </a>
              </center>

          </div>
          <div class="item item2">
              <center>
                  <a href="{{ url_for('sudoku_solver') }}" style="display: block; height: 100%">
                      <h1>Numeral System Converter</h1>
                  </a>
              </center>

          </div>
          <div class="item item3">
              <center>
                  <a href="{{ url_for('sudoku_solver') }}" style="display: block; height: 100%">
                      <h1>Rock Paper Scissors Camera Game</h1>
                  </a>
              </center>
          </div>
          <div class="item item4"><h1>Coming soon</h1></div>
          <div class="item item5"><h1>Coming soon</h1></div>
          <div class="item item6"><h1>Coming soon</h1></div>
        </div>
    </div>

{% endblock %}
