{% extends 'base.html' %}

{% block title %}
    About Me
{% endblock %}

{% block link_css %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/about.css')}}">
{% endblock %}

{% block content %}
    <div id="content">
        <div class="profile">
            <h1>Jakub Nowicki</h1>
            <p class="subtitle">Computer Science & Applied Mathematics Student | University of Evansville</p>
            <div class="line"></div> <!-- Line under the name -->
            <p>Welcome! I'm Jakub, a passionate and driven student that is pursuing a Bachelor's Degree in Computer Science and Applied Mathematics, actively seeking internship opportunities to deepen my expertise and make a meaningful impact in the field of technology.</p>
            <div class="line"></div> <!-- Line under the name -->
            <h2>Technical Proficiency:</h2>
            <ul>
                <li><strong>Programming Languages:</strong> Python, C++</li>
                <li><strong>Web Development:</strong> HTML, CSS, SCSS, Flask</li>
                <li><strong>Tools & Platforms:</strong> MediaPipe, OpenCV, GitHub, Linux</li>
                <li><strong>Data Handling:</strong> High proficiency in Excel</li>
            </ul>
            <div class="line"></div> <!-- Line under the name -->
            <h2>Languages:</h2>
            <ul>
                <li><strong>Polish:</strong> Native</li>
                <li><strong>English:</strong> Fluent</li>
            </ul>
            <div class="line"></div> <!-- Line under the name -->
            <p>As a student-athlete actively involved in both track and field and cross country, I balance a demanding academic workload with a challenging training schedule. This experience has not only sharpened my discipline but also enhanced my resilience, preparing me for multifaceted challenges. My hobbies include reading fantasy literature, which fuels my creativity. Furthermore, I engage in various programming projects that improve my technical skills, contributing to my proficiency in problem-solving.</p>
            <br>
            <p>I am excited about the opportunity to bring my diverse skills and fresh ideas to your team. Let's connect and explore how I can contribute to your success!</p>
            <div class="line"></div> <!-- Line after Languages -->
        </div>
    </div>
{% endblock %}
