{% extends 'base.html' %}

{% block title %}
    Contact
{% endblock %}

{% block link_css %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/contact.css')}}">
{% endblock %}

{% block content %}
    <div id="content">
<div class="contact__info">
        <p>Email: jjnowicki24@gmail.com</p>
        <p>WhatsApp: +48 785 85 20 20</p>
        <p>Phone: +1 (812) 456 6534</p>
    </div>

    <!-- Resume Downloads -->
    <div class="resume__downloads">
        <a href="{{ url_for('static', filename='files/Jakub_Nowicki_Resume.docx') }}" class="resume__link" download>Download Resume (DOCX)</a>
        <a href="{{ url_for('static', filename='files/Jakub_Nowicki_Resume.pdf') }}" class="resume__link" download>Download Resume (PDF)</a>
    </div>

        <div id="icons">
            <div class="social__item">
                <a target="_blank" href="https://github.com/Jakub-Nowicki?tab=repositories" class="social__icon--github"><i class="icon--github"></i></a>
            </div>

            <div class="social__item">
                <a target="_blank" href="https://www.instagram.com/nowickii.j/" class="social__icon--instagram"><i class="icon--instagram"></i></a>
            </div>

            <div class="social__item">
                <a target="_blank" href="https://www.linkedin.com/in/jakub-nowicki13/" class="social__icon--linkedin"><i class="icon--linkedin"></i></a>
            </div>
        </div>

    </div>
{% endblock %}
