{% extends 'base.html' %}

{% block link_css %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/projects.css')}}">
{% endblock %}

{% block content %}
    <div id="content">

        <a href="{{ url_for('home.rps_page') }}">
            <div id="rps">
                <h1>Rock Paper Scissors OpenCV Game</h1>
                <h3>✊✋✌️ Play Rock-Paper-Scissors using hand gestures recognized by OpenCV and MediaPipe </h3>
            </div>
        </a>

        <a href="{{ url_for('converter.system_converter') }}">
            <div id="numeral">
                <h1>Numeral Base Converter</h1>
                <h3>🔢 Convert numbers between different bases with a Flask-powered web interface  🧮</h3>
            </div>
        </a>

        <a href="{{ url_for('sudoku.sudoku_solver') }}">
            <div id="sudoku">
                <h1>Sodoku Solver</h1>
                <h3>🧩 A web app that dynamically solves and displays Sudoku puzzles using Flask ✏️</h3>
            </div>
        </a>

    </div>
{% endblock %}
