{% extends "base.html"  %}

{% block link_css %}
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/sudoku_index.css')}}">
{% endblock %}

{% block content %}
    <div id="content">
        <form action="/update" method="post">
            <div class="sudoku-container">
                <table>
                    {% for i in range(9) %}
                    <tr>
                        {% for j in range(9) %}
                        <td>
                            <input type="text" name="cell-{{i}}-{{j}}" value="{{ grid[i][j]}}" >
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <button type="submit">Solve</button>
            </div>
        </form>
    </div>
{% endblock %}